<template>
  <div id="app" >
  <header v-on:click="touch($event)"  class="header"><SectionComponent/></header>
    <PostComponent id="postSection" class="postComponent" />
  <div id="rewardSection" class="reward">
     <RewardComponent />
  </div>
  </div>
</template>
<script>
import PostComponent from './components/PostComponent.vue'
import SectionComponent from './components/SectionComponent.vue'
import RewardComponent from './components/RewardComponent.vue'



  

export default {
  name: 'App',
  components: {
    PostComponent,
    SectionComponent,
    RewardComponent
  },
   methods: {
     touch(event){
      let targetxt = [event.target];
      let text = targetxt[0].childNodes[0];
      let test = [text];
      let valueSection = test[0].data;
      let post = document.getElementById("postSection");
      let reward = document.getElementById("rewardSection");
    //console.log(test[0].data);
    if(valueSection == "blog"){ 
    post.style["display"] = "block";
    reward.style["display"] = "none";
    }
    if(valueSection == "festival")
    {
    post.style["display"] = "none";
    reward.style["display"] = "none";
    }
    if(valueSection == "reward"){
    post.style["display"] = "none";
    reward.style["display"] = "flex";
    
    }
    //console.log(targetId.section.childnote.data);
    },
   }
}
</script>

<style>
header{
  display:flex;
}
img{
  width: 100%;
  height: 320px;
}
div.reward{
display: none;
}
</style>
