<template>
  <div class="container">
    <div class="head"></div>
    <div class="postAffichage">
      <div class="textPost">
        Last Post
        <vs-button class="btnAddPost" type="filled" v-on:click="popupActivo"
          >Add post</vs-button
        >
        <div class="create-post">
          <div class="containerPopup">
            <vs-popup
              title="Nouveau post"
              :button-close-hidden="true"
              :active="this.popup"
              background-color-popup="white"
            >
              <div class="inputPop">
                <vs-input
                  class="inputx"
                  placeholder="Pseudo"
                  v-model="pseudo"
                />
                <vs-input class="inputx" placeholder="Title" v-model="title" />
              </div>
              <div class="textPop">
                <p>Texte(Max 150)</p>
                <vs-textarea
                  counter="150"
                  :counter-danger.sync="counterDanger"
                  v-model="textarea"
                />
              </div>
              <div class="imageLien">
              <vs-input
                  class="inputx"
                  placeholder="Lien image https://"
                  v-model="lien"
                />
              </div>
              <div class="btnPop">
                <vs-button class="btn" type="filled" v-on:click="popupActivo"
                  >close</vs-button
                >
                <vs-button  id="create-post" class="btn" type="filled" v-on:click="createPost"
                  >Confirm</vs-button
                >
              </div>
            </vs-popup>
          </div>
        </div>
      </div>
    </div>
    <div class="posts-container">
      <div
        class="post"
        v-for="(post, index) in posts"
        v-bind:item="post"
        v-bind:index="index"
        v-bind:key="post._id"
        v-on:dbclick="deletePost(post._id)"
      >
         <div class="post-items">
         <div class="affichage">
                <img class="image" v-bind:src="post.lien"/>
          </div>
           <div class="footPost">
             <span class="userPost">edit by : {{post.pseudo}}</span><span class="textPost"> Title: {{post.title}}</span>
             <span>{{post.textarea}}</span>
           </div>
         </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import PostService from "../PostService";
import UploadService from "../UploadService";

import {
  vsCard,
  vsRow,
  vsCol,
  vsButton,
  vsPopup,
  vsIcon,
  vsTextarea,
  vsInput,
  vsUpload,
  vsImages,
}
from "vuesax";
import "vuesax/dist/vuesax.css";
import "material-icons/iconfont/material-icons.css";

Vue.use(vsImages);
Vue.use(vsCard);
Vue.use(vsRow);
Vue.use(vsCol);
Vue.use(vsButton);
Vue.use(vsPopup);
Vue.use(vsIcon);
Vue.use(vsTextarea);
Vue.use(vsInput);
Vue.use(vsUpload);


export default {
  name: "PostComponent",
  data() {
    return {
      posts: [],
      popup: false,
      pseudo: "",
      title: "",
      textarea: "",
      counterDanger: false,
      lien:"",
    };
  },
  async created() {
    try {
      this.posts = await PostService.getPosts();
    } catch (err) {
      this.error = err.message;
    }
  },
  methods: {
    async createPost() {
      console.log(this.pseudo,this.title,this.textarea,this.lien)
      await PostService.insertPost(this.pseudo,this.title,this.textarea,this.lien);
      this.posts = await PostService.getPosts();
    },
    async deletePost(id) {
      await PostService.deletePost(id);
      this.posts = await PostService.getPosts();
    },
    popupActivo() {
      if (this.popup == false) {
        this.popup = true;
      } else {
        this.popup = false;
      }
      return this.popup;
    },
    UploadImage(){
      UploadService.UploadImage();
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div.container {
  max-width: 100%;
  margin: 0 auto;
}

p.error {
  border: 1px solid #ff5b5f;
  background-color: #ffc5c1;
  padding: 10px;
  margin-bottom: 15px;
}

div.post {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 25%;
  min-height: 25%;
  line-height: 30%;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 6%;
}
div.row {
  display: flex;
  width: auto;
  height: auto;
}
div.created-at {
  display: flex;
  top: 0;
  left: 0;
  padding: 5px 15px 5px 15px;
  background-color: darkgreen;
  color: white;
  font-size: 13px;
}

p.text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}
div.posts-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: fit-content;
  margin-top: 5%;
  width: fit-content;
  /* max-width: 82%; */
  /* min-width: 25%; */
  justify-content: space-evenly;
}
div.postAffichage {
  background-color: #242424;
  /* margin: 4%; */
  margin-bottom: 4%;
  margin-top: 2%;
  margin-right: 4%;
  margin-left: 4%;
  height: 100px;
  width: 90%;
}
span.textPost{
  font-size: 1.3rem;
  font-style: Sprectral;
  /* margin-left: 10%; */
  text-align: justify;
  /* text-indent: 25px; */
  margin-bottom: 4%;
  margin-top: 2%;
  margin-right: 4%;
  margin-left: 4%;
  color: black;
  font-weight: 600;
  font-family: sans-serif;
  font-variant: all-petite-caps;
  padding-top: 2%;
  position: static;
  text-size-adjust: 100%;
  text-align: start;
}
span.userPost{
  font-size: 0.6rem;
  color: black;
  font-weight: 500;
  padding-top: 2%;
  position: static;
  text-size-adjust: 100%;
}
div.textPost {
  font-size: 1.7rem;
  font-style: Sprectral;
  /* margin-left: 10%; */
  text-align: justify;
  /* text-indent: 25px; */
  margin-bottom: 4%;
  margin-top: 2%;
  margin-right: 4%;
  margin-left: 4%;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
  font-variant: all-petite-caps;
  padding-top: 2%;
  position: static;
  text-size-adjust: 100%;
  text-align: start;
}
button.btnAddPost {
  margin-left: 70%;
  background-color: #0bc4e2 !important;
  font-family: sans-serif;
  font-variant: all-petite-caps;
  font-weight: 700;
}
div.containerPopup {
  width: 70%;
}
div.inputPop {
  display: flex;
  justify-content: space-evenly;
}
div.uploadPop {
  display: flex;
}
div.textPop {
  display: flex;
  margin-top: 6%;
}
div.btnPop {
  display: flex;
  justify-content: space-evenly;
}
button.btn {
  background-color: #0bc4e2 !important;
  font-family: sans-serif;
  font-variant: all-petite-caps;
  font-weight: 700;
}
div.imageLien{
  display: flex;
  margin-top: 4%;
  margin-bottom: 6%;
 justify-content: center;
}
div.imagePost{
display: flex;
width: 100%;
}
div.affichage{
    display: flex;
    width: fit-content;
    height: 100%;
}
.image{
opacity: none;
display: flex;
width: auto;
height: auto;
padding-bottom: 0%;
max-width: 400px;
max-height: 230px;
}
div.headPost{
      display: flex;
    /* margin-bottom: 5%; */
    padding-bottom: 15px;
    background-color: black;
}
div.footPost{
    display: flex;
    /* margin-bottom: 5%; */
    padding-top: 35px;
}
</style>
