<template>
<diV>
<div class="create-player">
   <label for="create-player">name new player</label>
   <input type="text" id="create-player" v-model="text" placeholder="Create a player">
   <button v-on:click="createplayer">create!</button>
  </div>
   <div class="add-reward">
   <label for="add-rewrad">point reward</label>
   <select>
     <option value="option" v-for="(player, index) in player" 
    v-bind:item="player"
    v-bind:index="index"
    v-bind:key="player._id">{{player.text}}</option>
     </select>
     <select>
       <option value="reward" v-for="(reward, index) in reward" 
    v-bind:item="reward"
    v-bind:index="index"
    v-bind:key="reward._id" >{{reward.title}}</option>
     </select>
   <button >add reward!</button>
  </div>
</diV>
</template>

<script>
import PlayerService from '../PlayerService';
import RewardService from '../RewardService';



export default {
  name: 'SectionComponent',
  data(){
    return {
      player:[],
      reward:[],
      error:'',
      text:''
    }
  },
  async created(){
    try {
      this.player = await PlayerService.getPlayer();
      this.test = await RewardService.getReward();
      let test2 = [this.test];
      this.reward = test2[0][0].data;
      
    } catch(err){
      this.error = err.message;
    }
  },
   methods: {
       async createplayer(){
      let point = "0";
      await PlayerService.insertPlayer(this.text,point);
      this.posts = await PlayerService.getPlayer();
    }  
   }
}

</script>



<style scoped>

</style>