<template>
<div class="navBar">
      <vs-navbar  class="nabarx">     
         <div class="title"  slot="title">        
            kiclax
          </div>
   <div  v-for="(section, index) in section"
    v-bind:item="section"
    v-bind:key="section._id"
    v_bind:id="index"
     >
      <vs-navbar-item >
        <a class="section" v-bind:key="index"  v-on:click="selectSection(section._id)" href="#">{{section.text}}</a>
      </vs-navbar-item>
        </div>
      </vs-navbar>    
</div>
</template>


<script>
import Vue from 'vue';
import SectionService from '../SectionService';
import { vsNavbar } from 'vuesax';
import 'vuesax/dist/vuesax.css';
import 'material-icons/iconfont/material-icons.css';



Vue.use(vsNavbar);

export default {
  name: 'SectionComponent',
  data(){
    return {
      section:[],
      error:'',
      text:'',
      input:'',
    }
  },
  async created(){
    try {
      this.section = await SectionService.getSection();
    } catch(err){
      this.error = err.message;
    }
  },
   methods: {
     selectSection(_id){
      this.input = _id;
    },
   }
}

</script>



<style scoped>
a.section{
    font-size: 1rem;
    font-style: Sprectral;
    /* margin-left: 10%; */
    text-align: justify;
    text-indent: 25px;
    color: white;
    font-weight: 550;
    font-family: sans-serif;
    font-variant: all-petite-caps;
}
div.section-container{
    display: inline-flex;
    text-align: center;
    flex-direction: column-reverse;
    position: relative;
    background-color: green;
}
div.title{
    font-size: 1.8rem;
    margin: 6%;
    color: white;
    font-family: sans-serif;
    font-variant: all-petite-caps;
    /* color: black; */
    /* font-stretch: condensed; */
    font-weight: 800;
}
div.navBar{
    display: flex;
    background-color: black;
    width: 100%;
}
</style>
 